<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="The most versatile link shortener on the market">
<meta name="keywords" content="tiny.lol,tinylol,tiny,MadLad Squad,MadLadSquad,link,link shortener,link page,links">
<meta name="author" content="MadLadSquad">

<link rel="icon" type="image/png" href="./favicon.png">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="./main.css" type="text/css">
